* {
  box-sizing: border-box;
}
html,
body,
main {
  padding: 0;
  margin: 0;
}
a:visited {
  color: inherit;
}

main {
  display: flex;
}

.hero {
  z-index: 2;
  position: relative;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid #fff;
  color: white;
  margin: 0;
  padding: 30px;
  text-align: center;
}

.center {
  z-index: 1;
  width: 50%;
  min-width: 400px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}
h1,
h2,
h3 {
  font-family: "New Amsterdam", sans-serif;
  letter-spacing: 2px;
}
.center p,
li {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.center a {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  position: relative;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  max-width: calc(calc(100% - 400px) / 2);
  padding: 20px;
  background-color: #000000;
}
.quote {
  font-family: "Baskervville SC";
  color: #fff;
}
.quote-text {
  display: block;
  font-size: 30px;
  font-weight: bold;
}
.quote-attribution {
  display: block;
  margin-top: 10px;
  font-size: 24px;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .side {
    display: none;
  }
  .center {
    width: 100%;
    min-width: 0;
  }
  .center p {
    text-align: justify;
  }
}

#menu-checkbox {
  display: none;
}
.menu-button {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background: url("icon-burger.svg") no-repeat center/50% 50%;
}
#menu-checkbox:checked ~ .menu-button {
  background-image: url("icon-close.svg");
}
#menu-checkbox:checked ~ .menu-panel {
  left: 0;
}

.menu-panel {
  z-index: 9;
  background-color: #000;
  position: fixed;
  height: 100%;
  transition-duration: 0.2s;
  left: -400px;
  width: 400px;
  padding: 100px 20px 0px 20px;
  display: flex;
  flex-direction: column;
}
.menu-panel a {
  font-size: 2em;
  font-family: "New Amsterdam", sans-serif;
  color: white;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .menu-button {
    width: 50px;
    height: 50px;
    background-size: 80% 80%;
  }
  .menu-panel {
    left: -100%;
    width: 100%;
  }
}
